@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$fonte-padrao: 'Open Sans', sans-serif;

$azul: #8AC6FD;
$azul-claro: #f0ffff;
$verde-agua: #7bffff;
$branco: #fff;
$rosa: #ffa5ae;
$rosa-claro: #ffd7df;
$cinza-claro: #efefef;
$laranja: #fe5f55;
$marrom: #311e10;